.vscode
$RECYCLE.BIN/
System Volume Information/

# Azure Devops install media
vsts-agent-win-*.zip

# hyper-V hard disk
Virtual Hard Disks/*
!Virtual Hard Disks/.gitkeep

# vb6 product key
Key.txt

# vb6 install media
1VS60Ent/*
!1VS60Ent/vb6only.stf
!1VS60Ent/.gitkeep
3SP6_VSEnt/*
!3SP6_VSEnt/.gitkeep

# log files
*.log

# secrets
id_rsa
id_rsa.pub

# temp files
temp.*